* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5px;
    text-align: center;
}

h1 {
    margin: 10px;
}

.input-box {
    width: 100px;
}

#cal_header {
    font-size: 20px;
    margin: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

